<%= form_with(model: local, local: true) do |form| %>
  <% if local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(local.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% local.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :local_text %>
    <%= form.text_field :local_text, id: :local_local_text %>
  </div>

  <div class="field">
    <%= form.label :comp_text %>
    <%= form.text_field :comp_text, id: :local_comp_text %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :local_lat %>
  </div>

  <div class="field">
    <%= form.label :lng %>
    <%= form.text_field :lng, id: :local_lng %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
